$header-height: rem(72);

.header {
  background: url("../../assets/background/background.jpg");
  box-shadow: 0 0 4px 0 #aaa;
  font-size: rem(21);

  &__row {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: rem(30);
    font-family: "RussoOne", sans-serif;
    display: flex;
    column-gap: 10px;
    align-items: center;

    &._active {
      z-index: 11;
      background: none;

      a {
        color: $white;
        background: none;
        transition: color 0.2s ease;

        &:hover,
        &:active,
        &:focus {
          color: $white;
        }
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 25px;

  &__icon {
    @media screen and (max-width: $tb) {
      display: block;
      z-index: 11;
      width: 32px;
      height: 20px;
      position: relative;
      cursor: pointer;

      span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;

        background-color: #111;
      }

      &._active {
        span,
        &::before,
        &::after {
          background-color: $white;
          transition: all 0.3s ease;
        }

        span {
          transform: scale(0) translate(0px, -50%);
        }

        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }

        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }

      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  &__body {
    @media screen and (max-width: $tb) {
      position: fixed;
      z-index: 10;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $black-trans;
      padding: rem(100) rem(15) rem(30) rem(15);
      transition: left 0.3s ease;
      overflow: auto;

      &::before {
        left: -100%;
        transition: left 0.3s ease;

        content: "";
        position: fixed;
        top: 0;
        width: 100%;
        height: $header-height;
        background-color: $black-trans;
        border-bottom: 2px solid $white;
      }

      &._active {
        left: 0;

        &::before {
          left: 0;
        }
      }
    }
  }

  &__cart {
    display: block;

    img {
      //width: rem(26);
      width: rem(28);
    }
  }

  &__list {
    display: flex;
    column-gap: rem(30);

    @media screen and (max-width: $tb) {
      flex-direction: column;
      row-gap: rem(25);
    }
  }

  &__item {
    line-height: 1.2;

    @media screen and (max-width: $tb) {
      background: none;
      a {
        color: $white;
        font-size: rem(28);
        font-weight: 700;
      }
    }
  }
}