.footer {
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        color: #fff;
        font-size: rem(20);
        text-align: center;
    }
}
